.Status {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  font-size: 12px;
  display: block;

  &.disconnected::before {
    position: absolute;
    left: -10px;
    top: 6px;
    content: "";
    background: rgb(177, 6, 6);
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  &.connected::before {
    position: absolute;
    left: -10px;
    top: 6px;
    content: "";
    background: rgb(36, 130, 5);
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  // galaxy fold width
  @media (max-width: 652px) {
    display: none;
  }
}